body {
    display: flex;
    justify-content: center;
    background-color: rgb(232, 227, 227);
    color: black ;
    font-family: "arial", cursive;
    font-size: 14px;
}
  
#main_container {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    justify-content: space-around;
    height:90%;
}
  
h3{
    margin: 30px;
}
  
header{
    background-color: #6f0654 ;
    color: white;
    width: 100%;
    text-align: center;
    height: 5%;
}
  footer{
    background-color: #6f0654;
    color: white;
    width: 100%;
    text-align: center;
    height: 5%;
  }
  .foot{
    margin-bottom:1%;
  }
  
  #middle_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #bcbdb8;
    border: 2px solid black;
    margin-top: 7px;
    margin-bottom: 7px;
  
  }
  
  #top-section{
    display: flex;
    flex-direction: column;
    height:50%;
    background-color:#f5f2c5 ;
    justify-content:center;
    align-items: center;
    margin-top:3px;
    margin-left:3px;
    margin-right:3px;
    margin-bottom: 50px;
   
  }

form{
  width:96%;
  height:80%;
}
  fieldset{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 2px outset #c0c2c7;
  }
#submitbtn {
  width: 100%;
}

#reqfield{
  display: flex;
  width: 100%;
  height: 100%;
}

.fill-up{
  width: 25%;
  border: 2px dotted green;
}
#proj-id{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#project-id {
  width:50%;
}

#proj-name{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
  margin-bottom:10%;
}
#owner-name{
  width:45%;
}

#proj-title{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#title{
  width:30%;
}

#proj-category{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#category{
  width:25%;
}

#proj-hours{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#hours{
  width:27%;
}

#proj-rate{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#rate{
  width:29%;
}

#proj-status{
  background-color: #dadbea;
  display: flex;
  justify-content: center;
}
#status{
  width:29%;
}

#proj-descr{
  background-color: #dadbea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
}
#description {
  height:100%;
  width: 96%;
}

#submitbtn{
  display: flex;
  justify-content:space-evenly;
  margin-bottom: 1%;
  margin-top:0.5%;
  
}
#add {
  height:0.5%;
  width:11.5%;
}
#add:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#reset {
   height:0.5%;
  width:11.5%;
}

button{
  background-repeat: no-repeat;
  background-color: #044ea9;
  color: white;
  border: 1px whitesmoke outset;
  padding: 0.7%;
  width:20%;
  border: 2px solid rgb(233, 225, 225);
  
}
button:hover{
  background-color:#110449;
 }


#localbtn{
  width:50%;
  display: flex;
  justify-content:space-between;
  margin-top: 0.4%;
  margin-bottom:1%;
}

#query{
  width: 45%;
}
  
  
  #main-section{
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#37a3a8;
  
  }

#countLoadOrSearch {
  margin-top: 0.5%;
  width:96%;
  background-color: white;
  color: firebrick;
}
 
  p{
    margin: 10px;
  }
   
.notify {
  background-color: darkred;
  color: snow;
}
